africastalking==1.2.4
AfricastalkingGateway==2.0
asgiref==3.5.2
certifi==2022.5.18.1
charset-normalizer==2.0.12
contextlib2==21.6.0
Django==3.0
django-countries==7.3.2
django-google-translate==1.1
django-pure-pagination==0.3.0
idna==3.3
pytz==2022.1
requests==2.27.1
schema==0.7.5
simplejson==3.17.6
sqlparse==0.4.2
typing_extensions==4.2.0
urllib3==1.26.9
